# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
julia
color_buddhabrot
flame
functions
raytracer

# Other
.vscode
.DS_Store
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles
.vs
cmake_install.cmake
*.aux
*.log
*.out
*.synctex.gz
*.blend1
*.class
a.out
Debug
Release
.vs
bin
build
*~
*.swp
*.swo
*.dSYM
